# Data and heavy files
*.tif
*.png
*.zip
*.txt

# Specific Data Directories
Data/
Zip_Data/
Input_Data/
With_boxes/


# Jupyter Notebooks and Checkpoints
.ipynb_checkpoints/

# Python/Environment extras
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/